<mat-grid-list cols="4" rowHeight="100">
  <mat-grid-tile [colspan]="3" [rowspan]="8">
    <br>
    <br>

    <svg viewBox="0 0 1500 1500"></svg>

  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2.5">
    <div style="text-align: left;">
      &delta;<sub><sup>-</sup>1<sup>-</sup>1</sub> = {{dll}} <br>
      &delta;<sub>1<sup>-</sup>1</sub> = {{drl}} <br>
      &delta;<sub><sup>-</sup>11</sub> = {{dlr}} <br>
      &delta;<sub>11</sub> = {{drr}} <br>
      <br>
      (x<sub><sup>-</sup>1</sub>, y<sub><sup>-</sup>1</sub>) = ({{xl}}, {{yl}}) <br>
      (x<sub>1</sub>, y<sub><sup>-</sup>1</sub>) = ({{xr}}, {{yl}}) <br>
      (x<sub><sup>-</sup>1</sub>, y<sub>1</sub>) = ({{xl}}, {{yr}}) <br>
      (x<sub>1</sub>, y<sub>1</sub>) = ({{xr}}, {{yr}}) <br>
      <br>

      <i>t<sub>max</sub></i> = {{tmax}}<br>
      <!-- TODO: These 2 steppers don't
      really have much region in the context
      of regional stepping - replace with
      something else-->
      <!-- Current Step: {{currentStep}} <br>
      Planned Steps: {{priorSteps + controls.get('totalSteps').value * controls.get('updateRate').value }} -->
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="4">
    <div [formGroup]="controls">
      <div class="example-button-row">

        <!-- <button mat-raised-button color="primary" (click)="step()">Run</button> -->
        <button mat-raised-button color="accent" (click)="reset()">Reset Simulation</button>
      </div>
      <br>
      <br>

      <label for="updateRate">Steps Per Frame</label><br>
      <input type="number" id="updateRate" formControlName="updateRate"><br>

      <label for="totalSteps">Frames Per Click</label><br>
      <input type="number" id="totalSteps" formControlName="totalSteps">
      <!-- <div formGroupName="interrupts">

        <label for="leftSteps">Enter Left Delay</label><br>
        <input type="number" id="leftSteps" formControlName="leftSteps"><br>

        <label for="rightSteps">Enter Right Delay</label><br>
        <input type="number" id="rightSteps" formControlName="rightSteps"><br>

        <label for="topSteps">Enter Top Delay</label><br>
        <input type="number" id="topSteps" formControlName="topSteps"><br>

        <label for="bottomSteps">Enter Bottom Delay</label><br>
        <input type="number" id="bottomSteps" formControlName="bottomSteps">

      </div> -->

    </div>

  </mat-grid-tile>

</mat-grid-list>